@import "tailwindcss";

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 400;
  line-height: 150%;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  line-height: 150%;
}

:root {
  --cl-yellow: #f4d04e;
  --cl-white: #fff;
  --cl-gray-950: #111111;
  --cl-gray-500: #6b6b6b;
  --cl-secondary: hsl(228, 45%, 44%);

  --sp-300: 24px;
  --sp-150: 12px;
  --sp-100: 8px;
  --sp-50: 4px;
}

/* @theme {
  --font-figtree: "Figtree Medium", sans-serif;
} */

/** Starting with mobile-first **/
html {
  font-size: 14px;
}

.font-figtree {
  font-family: "Figtree", sans-serif;
  color: var(--cl-gray-950);
}

.text-preset--1 {
  font-family: "Figtree", sans-serif;
  font-size: 1.5em;
  line-height: 150%;
  font-weight: 700;
}

.text-preset--2 {
  font-family: "Figtree", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.text-preset--3 {
  font-family: "Figtree", sans-serif;
  font-size: 0.875em;
  font-weight: 400;
}

.text-preset--3-bold {
  font-family: "Figtree", sans-serif;
  font-size: 0.875em;
  font-weight: 700;
}

body {
  background-color: var(--cl-yellow);
  color: var(--cl-gray-950);
  width: 100vw;
  height: 100vh;
}

.blog-card__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--sp-300);
  box-shadow: black 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85vw;
}

.blog-card-content {
  padding: var(--sp-300) 0;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
  color: var(--cl-gray-950);
  max-width: 320px;
}

.blog-card-content__tag {
  background-color: var(--cl-yellow);
  width: fit-content;
}

.blog-card-content__header:hover,
.blog-card-content__header:active {
  color: var(--cl-yellow);
}

.blog-card-content__text {
  color: var(--cl-gray-500);
}

.blog-card__image {
  height: 200px;
  width: auto;
  display: block;
  object-fit: cover;
}

.blog-card-author__picture {
  flex: 0 0 32px;
}

.blog-card-author__fullname {
  flex: 1 0 auto;
  align-content: center;
  margin-inline-start: var(--sp-150);
}

.attribution {
  font-size: 11px;
  text-align: center;
  width: inherit;
  position: fixed;
  bottom: var(--sp-300);
}
.attribution a {
  color: var(--cl-secondary);
}

@media (min-width: 26em) {
  html {
    font-size: 16px;
  }

  .blog-card__container {
    width: max-content;
  }
}
